Import necessary libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import nltk 
import string
import csv
from textblob import TextBlob
from tqdm import tqdm_notebook as tqdm

Import dataset from github

In [ ]:
!wget -O dataset_combined_uncleaned.csv https://raw.githubusercontent.com/godhi06/TA/master/data/dataset_combined_uncleaned.csv

df = pd.read_csv('dataset_combined_uncleaned.csv', index_col=0)

--2020-06-19 17:33:23--  https://raw.githubusercontent.com/godhi06/TA/master/data/dataset_combined_uncleaned.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 223725 (218K) [text/plain]
Saving to: ‘dataset_combined_uncleaned.csv’

dataset_combined_un 100%[===================>] 218.48K  --.-KB/s    in 0.04s

2020-06-19 17:33:23 (5.18 MB/s) - ‘dataset_combined_uncleaned.csv’ saved [223725/223725]

In [ ]:
print("Banyak data pada dataset combined uncleaned", len(df))

Banyak data pada dataset combined uncleaned 657

In [ ]:
print("Berikut dataset dengan NA_values \n")
df[df['text'].isnull() == True]

Berikut dataset dengan NA_values

Empty DataFrame
Columns: [text, label]
Index: []

In [ ]:
# Buang data dengan NA_Values
df = df[df['text'].isnull() == False]

In [ ]:
# Menampilkan dataset tanpa duplicate rows
print("Berikut dataset tanpa duplicate row \n")
df.drop_duplicates()

Berikut dataset tanpa duplicate row

                                                  text  label
0     I've had major depressive disorder for many y...      1
1     One of my friends lost his brother to suicide...      1
2    My long distance boyfriend sent me flowers for...      0
3     I was recently diagnosed with GAD (Generalize...      1
4    After 4 years my hair is finally healed, & lif...      0
..                                                 ...    ...
652   I wish I could shake this. I don't laugh or j...      1
653  Hereâs a picture of grass smiling to brighte...      0
654   In his videos about self injury, not only doe...      1
655   Sometimes I feel like what happened to me isn...      1
656   I’ve been sitting on my couch playing video g...      1

[651 rows x 2 columns]

In [ ]:
df = df.drop_duplicates()
print("Banyak data pada dataset tanpa duplicate rows", len(df))

Banyak data pada dataset tanpa duplicate rows 651

In [ ]:
len(df)

651

In [ ]:
# Duplicate dataframe
dfNew = df.copy()

In [ ]:
def remove_urls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)

In [ ]:
dfNew

                                                  text  label
0     I've had major depressive disorder for many y...      1
1     One of my friends lost his brother to suicide...      1
2    My long distance boyfriend sent me flowers for...      0
3     I was recently diagnosed with GAD (Generalize...      1
4    After 4 years my hair is finally healed, & lif...      0
..                                                 ...    ...
652   I wish I could shake this. I don't laugh or j...      1
653  Hereâs a picture of grass smiling to brighte...      0
654   In his videos about self injury, not only doe...      1
655   Sometimes I feel like what happened to me isn...      1
656   I’ve been sitting on my couch playing video g...      1

[651 rows x 2 columns]

In [ ]:
# Lower Casing 
def text_to_lowerCase(text):
    return text.lower()

In [ ]:
def expand_contractions(data):
  data = re.sub(r"\bdon't\b", 'do not', data)
  data = re.sub(r"\bdidn't\b", 'did not', data)
  data = re.sub(r"\bdoesn't\b", 'does not', data)
  data = re.sub(r"\bisn't\b", 'is not', data)
  data = re.sub(r"\baren't\b", 'are not', data)
  data = re.sub(r"\bwasn't\b", 'was not', data)
  data = re.sub(r"\bweren't\b", 'were not', data)

  data = re.sub(r"\bhadn't\b", 'had not', data)
  data = re.sub(r"\bhadn't've\b", 'had not have', data)
  data = re.sub(r"\bhasn't\b", 'has not', data)
  data = re.sub(r"\bhaven't\b", 'have not', data)

  data = re.sub(r"\bcan't\b", 'can not', data)
  data = re.sub(r"\bcan't've\b", 'cannot have', data)
  data = re.sub(r"\bcould've\b", 'could have', data)
  data = re.sub(r"\bcouldn't\b", 'could not', data)
  data = re.sub(r"\bcouldn't've\b", 'could not have', data)
  data = re.sub(r"\bshould've\b", 'should have', data)
  data = re.sub(r"\bshouldn't\b", 'should not', data)
  data = re.sub(r"\bshouldn't've\b", 'should not have', data)

  data = re.sub(r"\bi'll\b", 'i will', data)
  data = re.sub(r"\bi'll've\b", 'i will have', data)
  data = re.sub(r"\bi'm\b", 'i am', data)
  data = re.sub(r"\bi've\b", 'i have', data)
  data = re.sub(r"\bi'd\b", 'i would', data)
  data = re.sub(r"\bi'd've\b", 'i would have', data)

  data = re.sub(r"\by'all\b", 'you all', data)
  data = re.sub(r"\by'all're\b", 'you all are', data)
  data = re.sub(r"\byou're\b", 'you are', data)
  data = re.sub(r"\byou've\b", 'you have', data)
  data = re.sub(r"\byou'll\b", 'you will', data)
  data = re.sub(r"\byou'll've\b", 'you will have', data)
  data = re.sub(r"\byou'd\b", 'you would', data)
  data = re.sub(r"\byou'd've\b", 'you would have', data)

  data = re.sub(r"\bwe're\b", 'we re', data)
  data = re.sub(r"\bwe've\b", 'we have', data)
  data = re.sub(r"\bwe'll\b", 'we will', data)
  data = re.sub(r"\bwe'll've\b", 'we will have', data)
  data = re.sub(r"\bwe'd\b", 'we would', data)
  data = re.sub(r"\bwe'd've\b", 'we would have', data)

  data = re.sub(r"\bthey're\b", 'they are', data)
  data = re.sub(r"\bthey've\b", 'they have', data)
  data = re.sub(r"\bthey'll\b", 'they will', data)
  data = re.sub(r"\bthey'll've\b", 'they will have', data)
  data = re.sub(r"\bthey'd\b", 'they would', data)
  data = re.sub(r"\bthey'd've\b", 'they would have', data)

  data = re.sub(r"\bhe's\b", 'he is', data)
  data = re.sub(r"\bhe'd\b", 'he would', data)
  data = re.sub(r"\bhe'd've\b", 'he would have', data)
  data = re.sub(r"\bhe'll\b", 'he will', data)
  data = re.sub(r"\bhe'll've\b", 'he will have', data)

  data = re.sub(r"\bshe's\b", 'she is', data)
  data = re.sub(r"\bshe'd\b", 'she would', data)
  data = re.sub(r"\bshe'd've\b", 'she would have', data)
  data = re.sub(r"\bshe'll\b", 'she will', data)
  data = re.sub(r"\bshe'll've\b", 'she will have', data)

  data = re.sub(r"\bit's\b", 'it is', data)
  data = re.sub(r"\bit'd\b", 'it would', data)
  data = re.sub(r"\bit'd've\b", 'it would have', data)
  data = re.sub(r"\bit'll\b", 'it will', data)
  
  data = re.sub(r"\bthat's\b", 'that is', data)
  data = re.sub(r"\bthat'd\b", 'that would', data)
  data = re.sub(r"\bthat'd've\b", 'that would have', data)
  
  data = re.sub(r"\bthere's\b", 'there is', data)
  data = re.sub(r"\bthere'd\b", 'there would', data)
  data = re.sub(r"\bthere'd've\b", 'there would have', data)

  data = re.sub(r"\bwhat's\b", 'what is', data)
  data = re.sub(r"\bwhat're\b", 'what are', data)
  data = re.sub(r"\bwhat'd\b", 'what would', data)
  data = re.sub(r"\bwhat've\b", 'what have', data)
 
  data = re.sub(r"\bwhat's\b", 'when is', data)
  data = re.sub(r"\bwhat're\b", 'where is', data)
  data = re.sub(r"\bwhat'd\b", 'who is', data)
  data = re.sub(r"\bwhat've\b", 'who will', data)

  data = re.sub(r"\bwill've\b", 'will have', data)
  data = re.sub(r"\bwon't\b", 'will not', data)
  data = re.sub(r"\bwould've\b", 'would have', data)
  data = re.sub(r"\bwouldn't\b", 'would not', data)

  data = re.sub(r"\bhow'd\b", 'how did', data)
  data = re.sub(r"\bhow'd'yb", 'how do you', data)
  data = re.sub(r"\bhow'll\b", 'how will', data)
  data = re.sub(r"\bhow's\b", 'how is', data)

  data = re.sub(r"\bmight've\b", 'might have', data)
  data = re.sub(r"\bmightn't\b", 'might not', data)
  data = re.sub(r"\bmust've\b", 'must have', data)
  data = re.sub(r"\bmustn't\b", 'must not', data)
  data = re.sub(r"\bneedn't\b", 'need not', data)

  data = re.sub(r"\b'cause\b", 'because', data)
  data = re.sub(r"\blet's\b", 'let us', data)
  data = re.sub(r"\bo'clock\b", 'of the clock', data)

  data = data.split()
  data = " ".join(data)
  return data

In [ ]:
# Remove numbers
def remove_numbers(text):
    text = re.sub('\d+', '', text)
    return text

In [ ]:
# Remove special characters
def remove_special_characters(text):
    text = re.sub('[^a-zA-Z0-9\s]', '', text)
    return text

In [ ]:
# Remove extra whitespaces
def remove_extraspaces(text):
    return re.sub(' +', ' ', text)

In [ ]:
def tokenized_tweet(text):
  return text.split()

In [ ]:
def cleaning(text):
  text = text_to_lowerCase(text)
  text = expand_contractions(text)
  text = remove_urls(text)
  text = remove_numbers(text)
  text = remove_special_characters(text)
  text = remove_extraspaces(text)
  return text

In [ ]:
# Clean data using cleaning function
dfNew['text'] = dfNew['text'].apply(cleaning)

Preprocessing 2

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
stop_words = set(stopwords.words('english'))

from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
# Tokenize data
dfTokenized = dfNew['text'].apply(tokenized_tweet)

In [ ]:
# Remove stopwords from tokenized data
dfTokenized = dfTokenized.apply(lambda x: [i for i in x if not i in stop_words])

In [ ]:
# Stem the tokenized data
stemmer= PorterStemmer()
dfTokenized_stemmed = dfTokenized.apply(lambda x: [stemmer.stem(i) for i in x])

In [ ]:
# Lemmatization of the tokenized data
lemmatizer=WordNetLemmatizer()
dfTokenized_lemmatized = dfTokenized.apply(lambda x: [lemmatizer.lemmatize(i) for i in x])

In [ ]:
# Stitch it back together
dfTokenized_comb = dfTokenized.apply(lambda x: ' '.join(x))
dfTokenized_stemmed_comb = dfTokenized_stemmed.apply(lambda x: ' '.join(x))
dfTokenized_lemmatized_comb = dfTokenized_lemmatized.apply(lambda x: ' '.join(x))

In [ ]:
# Create Dataframes for each combined tokenized
dfTokenized_comb = pd.DataFrame(dfTokenized_comb, columns=['text', 'label'])
dfTokenized_comb['label'] = dfNew.label

dfTokenized_stemmed_comb = pd.DataFrame(dfTokenized_stemmed_comb, columns=['text', 'label'])
dfTokenized_stemmed_comb['label'] = dfNew.label

dfTokenized_lemmatized_comb = pd.DataFrame(dfTokenized_lemmatized_comb, columns=['text', 'label'])
dfTokenized_lemmatized_comb['label'] = dfNew.label

In [ ]:
len(dfTokenized_comb) == len(dfTokenized_stemmed_comb) ==  len(dfTokenized_lemmatized_comb)

True

In [ ]:
print("Check NA_Values / empty rows from dfTokenized_comb :")
dfTokenized_comb[dfTokenized_comb.text.isnull()==True]

Check NA_Values / empty rows from dfTokenized_comb :

Empty DataFrame
Columns: [text, label]
Index: []

In [ ]:
print("Check NA_Values / empty rows from dfTokenized_stemmed_comb :")
dfTokenized_stemmed_comb[dfTokenized_stemmed_comb.text.isnull()==True]

Check NA_Values / empty rows from dfTokenized_stemmed_comb :

Empty DataFrame
Columns: [text, label]
Index: []

In [ ]:
print("Check NA_Values / empty rows from dfTokenized_lemmatized_combs :")
dfTokenized_lemmatized_comb[dfTokenized_lemmatized_comb.text.isnull()==True]

Check NA_Values / empty rows from dfTokenized_lemmatized_combs :

Empty DataFrame
Columns: [text, label]
Index: []

In [ ]:
# Remove NA Values from each datasets
dfTokenized_comb = dfTokenized_comb[dfTokenized_comb.text.isnull()==False]
print("Banyak data pada dataset tanpa stopword (dfTokenized_comb) :", len(dfTokenized_comb))

dfTokenized_stemmed_comb = dfTokenized_stemmed_comb[dfTokenized_stemmed_comb.text.isnull()==False]
print("Banyak data pada dataset tanpa stopword yang telah distem(dfTokenized_stemmed_comb) :", len(dfTokenized_stemmed_comb))

dfTokenized_lemmatized_comb = dfTokenized_lemmatized_comb[dfTokenized_lemmatized_comb.text.isnull()==False]
print("Banyak data pada dataset tanpa stopword yang telah dilemmatize (dfTokenized_lemmatized_comb) :", len(dfTokenized_lemmatized_comb))

Banyak data pada dataset tanpa stopword (dfTokenized_comb) : 651
Banyak data pada dataset tanpa stopword yang telah distem(dfTokenized_stemmed_comb) : 651
Banyak data pada dataset tanpa stopword yang telah dilemmatize (dfTokenized_lemmatized_comb) : 651

In [ ]:
# Drop duplicates rows from each dataset
dfTokenized_comb = dfTokenized_comb.drop_duplicates()
dfTokenized_stemmed_comb = dfTokenized_stemmed_comb.drop_duplicates()
dfTokenized_lemmatized_comb = dfTokenized_lemmatized_comb.drop_duplicates()

In [ ]:
print("Banyak data pada dataset tanpa stopword (dfTokenized_comb) :", len(dfTokenized_comb))
print("Banyak data pada dataset tanpa stopword yang telah distem(dfTokenized_stemmed_comb) :", len(dfTokenized_stemmed_comb))
print("Banyak data pada dataset tanpa stopword yang telah dilemmatize (dfTokenized_lemmatized_comb) :", len(dfTokenized_lemmatized_comb))

Banyak data pada dataset tanpa stopword (dfTokenized_comb) : 649
Banyak data pada dataset tanpa stopword yang telah distem(dfTokenized_stemmed_comb) : 649
Banyak data pada dataset tanpa stopword yang telah dilemmatize (dfTokenized_lemmatized_comb) : 649

In [ ]:
print("Check NA_Values pada dfDataset : ")
dfNew[dfNew.text.isnull() == True]

Check NA_Values pada dfDataset :

Empty DataFrame
Columns: [text, label]
Index: []

In [ ]:
# Drop duplicates from dfDataset
dfNew = dfNew.drop_duplicates()
print("Banyak ada pada dataset dengan stopword (dfDataset) : ", len(dfNew))

Banyak ada pada dataset dengan stopword (dfDataset) :  649

In [ ]:
listCombined = [dfNew, dfTokenized_comb, dfTokenized_stemmed_comb, dfTokenized_lemmatized_comb]

In [ ]:
# Reset index for each datasets
for i in range (0,len(listCombined)):
  listCombined[i] = listCombined[i].reset_index(drop=True)

In [ ]:
# Find word_count from each dataset
for i in range (0,len(listCombined)):
  listCombined[i]['word_count'] = listCombined[i].text.apply(lambda x: len(str(x).split()))

In [ ]:
for i in range (0, len(listCombined)):
  print(listCombined[i][listCombined[i].word_count >= 2])

                                                  text  label  word_count
0    i have had major depressive disorder for many ...      1         132
1    one of my friends lost his brother to suicide ...      1         110
2    my long distance boyfriend sent me flowers for...      0          27
3    i was recently diagnosed with gad generalized ...      1         101
4    after years my hair is finally healed life is ...      0          57
..                                                 ...    ...         ...
644  i wish i could shake this i do not laugh or jo...      1          48
645  heres a picture of grass smiling to brighten u...      0          11
646  in his videos about self injury not only does ...      1         209
647  sometimes i feel like what happened to me is n...      1          60
648  ive been sitting on my couch playing video gam...      1          90

[646 rows x 3 columns]
                                                  text  label  word_count
0    major depressive disorder many years got point...      1          56
1    one friends lost brother suicide years ago sti...      1          48
2    long distance boyfriend sent flowers particula...      0          12
3    recently diagnosed gad generalized anxiety dis...      1          51
4    years hair finally healed life also getting mu...      0          31
..                                                 ...    ...         ...
644  wish could shake laugh joke life voice anymore...      1          22
645           heres picture grass smiling brighten day      0           6
646  videos self injury almost completely ignore fo...      1         119
647  sometimes feel like happened bad enough ptsd s...      1          30
648  ive sitting couch playing video games sleeping...      1          43

[637 rows x 3 columns]
                                                  text  label  word_count
0    major depress disord mani year got point somet...      1          56
1    one friend lost brother suicid year ago still ...      1          48
2    long distanc boyfriend sent flower particular ...      0          12
3    recent diagnos gad gener anxieti disord hasnt ...      1          51
4    year hair final heal life also get much better...      0          31
..                                                 ...    ...         ...
644  wish could shake laugh joke life voic anymor a...      1          22
645               here pictur grass smile brighten day      0           6
646  video self injuri almost complet ignor form se...      1         119
647  sometim feel like happen bad enough ptsd somet...      1          30
648  ive sit couch play video game sleep day hour h...      1          43

[637 rows x 3 columns]
                                                  text  label  word_count
0    major depressive disorder many year got point ...      1          56
1    one friend lost brother suicide year ago still...      1          48
2    long distance boyfriend sent flower particular...      0          12
3    recently diagnosed gad generalized anxiety dis...      1          51
4    year hair finally healed life also getting muc...      0          31
..                                                 ...    ...         ...
644  wish could shake laugh joke life voice anymore...      1          22
645            here picture grass smiling brighten day      0           6
646  video self injury almost completely ignore for...      1         119
647  sometimes feel like happened bad enough ptsd s...      1          30
648  ive sitting couch playing video game sleeping ...      1          43

[637 rows x 3 columns]

In [ ]:
for i in range (0, len(listCombined)):
  listCombined[i] = listCombined[i][listCombined[i].word_count >= 3]

In [ ]:
for item in listCombined:
  print(len(item))

646
637
637
637

In [ ]:
# Reset index for each datasets
for i in range (0,len(listCombined)):
  listCombined[i] = listCombined[i].reset_index(drop=True)

In [ ]:
from google.colab import files #library untuk export dari googlecolab
# Export dfDataset (dataset preprocessed - 1)
listCombined[0].to_csv('dataset_preprocessed_1.csv')

# Export dfTokenized (dataset preprocessed - 2)
listCombined[1].to_csv('dataset_preprocessed_2.csv')

# Export dfTokenized_stemmed (dataset preprocessed - 2)
listCombined[2].to_csv('dataset_preprocessed_2_stem.csv')

# Export dfTokenized_lemmatized (dataset preprocessed - 2)
listCombined[3].to_csv('dataset_preprocessed_2_lemma.csv')

files.download('dataset_preprocessed_1.csv')
files.download('dataset_preprocessed_2.csv')
files.download('dataset_preprocessed_2_stem.csv')
files.download('dataset_preprocessed_2_lemma.csv')

stem dan lemma 1

In [ ]:
!wget -O dfPre1.csv https://raw.githubusercontent.com/godhi06/TA/master/data/preprocessing/dataset_preprocessed_1.csv

dfPre1 = pd.read_csv('dfPre1.csv', index_col=0)
print("Banyak data pada dfPre1 : ", len(dfPre1))

--2020-06-19 17:34:07--  https://raw.githubusercontent.com/godhi06/TA/master/data/preprocessing/dataset_preprocessed_1.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 215246 (210K) [text/plain]
Saving to: ‘dfPre1.csv’

dfPre1.csv          100%[===================>] 210.20K  --.-KB/s    in 0.04s

2020-06-19 17:34:08 (4.98 MB/s) - ‘dfPre1.csv’ saved [215246/215246]

Banyak data pada dfPre1 :  647

In [ ]:
# Tokenize data
dfPre1_Token = dfPre1['text'].apply(tokenized_tweet)

In [ ]:
# Stem the tokenized data
stemmer = PorterStemmer()
dfPre1_Token_stemmed = dfPre1_Token.apply(lambda x: [stemmer.stem(i) for i in x])

In [ ]:
# Lemmatization of the tokenized data
lemmatizer=WordNetLemmatizer()
dfPre1_Token_lemmatized = dfPre1_Token.apply(lambda x: [lemmatizer.lemmatize(i) for i in x])

In [ ]:
dfPre1_Token_stemmed.sample(5)

227    [i, alway, thought, it, wouldnt, happen, becau...
608    [for, our, two, year, anniversari, my, boyfrie...
556    [despit, the, shit, show, that, our, democraci...
346    [when, peopl, chew, loudli, or, when, they, ke...
180    [when, i, start, to, feel, more, normal, i, wa...
Name: text, dtype: object

In [ ]:
dfPre1_Token_lemmatized.sample(5)

604    [my, family, and, i, decided, to, postpone, th...
15     [happy, young, man, today, finally, getting, m...
165    [my, boyfriend, came, into, town, for, the, we...
439    [friend, took, this, of, me, during, a, day, o...
308    [im, going, through, a, lot, right, now, im, n...
Name: text, dtype: object

In [ ]:
# Stitch it back together
dfPre1_Token_stemmed = dfPre1_Token_stemmed.apply(lambda x: ' '.join(x))
dfPre1_Token_lemmatized = dfPre1_Token_lemmatized.apply(lambda x: ' '.join(x))

In [ ]:
# Copy dfPre1 to get the label
dfPre1_stemmed = dfPre1.copy()
dfPre1_lemma = dfPre1.copy()

# Change each dfPre1 with the respective token variabel
dfPre1_stemmed.text = dfPre1_Token_stemmed
dfPre1_lemma.text = dfPre1_Token_lemmatized

In [ ]:
# Cek tiap text pada dfPre1
print("Lihat 5 teks random dari dfPre1_stemmed :")
for item in dfPre1_stemmed.text.sample(5):
  print(item)

print("\n")
print("Lihat 5 teks random dari dfPre1_lemma :")
for item in dfPre1_lemma.text.sample(5):
  print(item)

Lihat 5 teks random dari dfPre1_stemmed :
whenev i appear around her she suddenli ha to leav and doe so within minut of me be there it is been happen sinc our last long talk that talk wa over a month ago and i thought she would be over what i said by now in my opinion it realli wa not that bad and ani feel i have toward her have been buri deep becaus she is now in a relationship the relationship doe not bother me at all but i feel like what i said to her did and i am complet confus becaus she ask me to say it howev i feel like a complet moron for do so and i regret it more than i have regret ani other move i have made by mistak deep friendship for love
my daili routin late that ha work wonder also been repeat thi mantra as i have sever anxieti dont worri about all of those what if thing arent a problem until theyr a problem the anxieti over what you might have done wrong or might do wrong or not actual problem that exist yet if they becom a problem youll handl and solv them it okay your all good and your capabl of whatev life throw at you
firefight celebr as torrenti rain in eastern australia extinguish a third of the fire in the region
i feel so raw i feel like a walk wound i never stop hurt and the slightest emot brush open everyth back up my emot are so strong they will kill me one day if i let them everyth hurt me i am too sensit overli sensit i get overwhelm at almost noth
thank to emdr therapi i feel someth i havent felt in almost year hope for my futur


Lihat 5 teks random dari dfPre1_lemma :
i have had fibromyalgia and chronic fatigue for a few year now have not gone to school in six year and i have been homeschooled in the meantime but it is been hard taking everything in due to brain fog just went to my first adult ed class chilled atmosphere and nice people first time having conversation with people that are not family member in a while so that wa awesome altogeth i am feeling happier just to get out and see people and to actually learn thing easily for the first time in a while
i feel so alone and worthless i cant
but i should not feel happy i am currently sitting doing nothing i am sitting the biggest set of exam i have had to face yet tomorrow and to say i am illprepared is an understatement but the biggest wave of happiness and excitement and joy ha rushed over me can anyone explain ha anyone felt like this am i crazy
i am and i have not cut in month my scar are starting to fade and it make me want to make new one if the scar fade it is like it never really happened what do i do
worked several year for a company that wa started in the late s there are only a few of u left but the bos still buy u doughnut im grateful and planning to stay until the wheel fall off

In [ ]:
from google.colab import files #library untuk export dari googlecolab

# Export dfTokenized_stemmed (dataset preprocessed - 1_stemmed)
dfPre1_stemmed.to_csv('dataset_preprocessed_1_stemmed.csv')

# Export dfTokenized_lemmatized (dataset preprocessed - 1_lemma)
dfPre1_lemma.to_csv('dataset_preprocessed_1_lemma.csv')

files.download('dataset_preprocessed_1_stemmed.csv')
files.download('dataset_preprocessed_1_lemma.csv')